h3 {
  font-size: 1rem;
  /* margin-bottom: 12px; */
}

fieldset {
  /* padding: 12px 0; */
  /* background-color: #ddd; */
}

/* fieldset:nth-child(odd) {
  background-color: #eee;
} */

.filters-form {
  height: calc(100vh - 339px);
  overflow-y: scroll;
  margin-bottom: 24px;
}

.filters-form *:last-child {
  margin-bottom: 0;
}