h3 {
  font-size: 1rem;
}

fieldset {
  padding: 12px 24px;
  background-color: white;
  max-width: 600px;
  margin-bottom: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

/* fieldset:nth-child(odd) {
  background-color: #eee;
} */

.query-container {
  display: flex;
  align-items: baseline;
}

.tag {
  background: rgb(255, 63, 63);
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  display: inline-block;
  font-size: 0.6rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 8px 6px 0;
  border: 0;
}

input {
  /* background: rgb(255, 212, 212); */
  color: rgb(255, 63, 63);
  padding: 4px 4px;
  /* border-radius: 12px; */
  font-size: 0.7rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  /* border: 4px solid white; */
  border: 0;
  margin-top: 12px;
  /* width: 80px; */
  border-bottom: 1px solid red;
}

input.invalid {
  background: rgb(255, 227, 227);
  /* border: 4px solid rgb(255, 91, 91); */
}

input[type="file"][data-button="false"] {
  min-width: 200px;
  padding: 50px 100px;
  margin-top: 40px;
  border: 0;
  border-radius: 4px;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
input[type="file"][data-button="true"] {
  background-color: #338cff;
  min-width: 200px;
  color: white;
  margin-top: 0;
  border: 0;
  border-radius: 4px;
}

input::placeholder {
  color: rgb(255, 116, 116);
}

input:focus::placeholder {
  color: #338cff;
}

input:focus {
  /* outline-color: rgb(255, 116, 116); */
  outline: none;
  color: #338cff;
  border-color: #338cff;
}

.filter input {
  width: 100px;
  margin-right: 24px;
}

.bar-label {
  margin-bottom: 2px;
  color: rgb(55, 55, 55);
  font-size: 0.8rem;
}

.bar {
  display: flex;
  background-color: rgb(125, 125, 125);
  width: 200px;
  height: 10px;
  overflow: hidden;
  border-radius: 4px;
}

.bar-fill {
  background-color: rgb(255, 63, 63);
}

dl {
  color: rgb(55, 55, 55);
  font-size: 0.8rem;
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  margin-top: 8px;
}

dt {
  width: 124px;
  text-align: base-line;
  display: flex;
  align-items: flex-end;
}

dd {
  width: calc(100% - 124px);
  font-weight: bold;
}

.total-spending {
  font-size: 1.3rem;
  color: #7b00a9;
}

.filter-header {
  display: flex;
  align-items: flex-end;
}

.filter-header > * {
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; */
  /* width: 40%; */
}

.filter-header > *:nth-child(2) {
  flex-grow: 1;
}

.filter-header > *:last-child {
  /* text-align: right; */
  padding-left: 24px;
}

.filter-header h3 {
  margin: 0;
  padding: 0;
  color: rgb(70, 70, 70);
  text-transform: uppercase;
}
