* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #9261a5;
  padding: 24px;
}

.color-white {
  color: white;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.App {
  margin: 0 auto;
  display: flex;
  justify-items: center;
  max-width: 1600px;
}

.App > * {
  width: 100%;
}

header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 24px;
  box-shadow: 0px 13px 33px 0px #0000004f;
  color: black;
}

.header-content {
  max-width: 1600px;
  width: 100%;
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin: 0 auto;
  padding: 0 48px;
}

.upload-wrapper {
  text-align: center;
}

.layout {
  display: flex;
  width: 100%;
  column-gap: 24px;
  max-width: 1600px;
  padding: 0 48px;
  margin: 80px auto 0;
}

.layout-table {
  overflow-y: scroll;
  max-height: 1000px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 24px;
  width: 100%;
}

.layout h3 {
  /* color: white; */
}

table {
  font-size: 0.7rem;
  width: 100%;
  background-color: white;
}

thead tr {
  background: #8d5ea0 !important;
}

th {
  text-align: left;
  color: white;
  text-transform: uppercase;
  padding: 6px;
}

td {
  padding: 2px 6px;
}

td:first-child {
  white-space: nowrap;
}

td:last-child {
  font-weight: 600;
}

tr:nth-child(odd) {
  background: #eee;
}

.table-paragraph {
  margin: 6px 0;
  color: #4c4c4c;
  font-size: 0.8rem;
}

.table-statement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-statement label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.table-statement label:hover {
  cursor: pointer;
}

.table-statement input {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

input {
  border: 1px solid gray;
  padding: 3px;
}

.hide {
  display: none;
}

.show-block {
  display: block;
}

.modal {
  position: relative;
}

.open-modal {
  display: block;
  position: fixed;
  inset: 24px;
  background-color: #fff;
  border: 4px solid #7b518b;
  overflow: scroll;
  box-shadow: 0px 13px 33px 0px #0000004f;
  padding: 24px;
}

button {
  background: #338cff;
  color: white;
  padding: 3px 6px;
  border-radius: 5px;
  box-shadow: 0px 2px 7px #00000047;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #2d7be1;
  font-size: 0.7rem;
}
button:disabled {
  background: #a6c1e5;
  border-color: #76aef7;
}
button:hover:disabled {
  cursor: not-allowed;
  background: #a6c1e5;
  border-color: #76aef7;
}

button:hover {
  cursor: pointer;
  background: #4395ff;
}

.button-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgb(0 0 0 / 50%);
  font-size: 24px;
}

/* for use in modals */
.button-close {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 2px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
